# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
app

# Go build artifact directories
bin/
dist/

# IDE junk
.vscode/
.idea/
*.swp
*.swo

# Local environment files
*.env
deploy/local/env/*.env

# Docker volumes (if accidentally created)
docker-volume/

# MacOS / Linux / Windows trash
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
