name: build-and-push-customer-api
on:
  push:
    branches: [main]
    paths:
      - "services/customer-api/**"
      - ".github/workflows/docker-customer.yml"
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute vars
        id: vars
        run: |
          echo "TAG=dev-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
          echo "OWNER_LC=$(echo '${{ github.repository_owner }}'| tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Build & push customer API
        run: |
          IMAGE="ghcr.io/${{ steps.vars.outputs.OWNER_LC }}/doxly-customer-api"
          TAG="${{ steps.vars.outputs.TAG }}"
          docker build -t "$IMAGE:$TAG" -f services/customer-api/Dockerfile services/customer-api
          docker push "$IMAGE:$TAG"
